.nav {
	width: 100%;
	background: #41a960;
	padding: .6rem;
	color: white;
	border-top: 6px solid #2b201d;
}

.nav a, .nav a:visited {
	color: white;
	text-decoration: none;
}
.nav a:hover {
	text-decoration: underline;
}

.nav ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
}

.nav ul li {
	margin: 0;
}

/* phone only */
@media (max-width: 599px) {
	.nav {
		/* padding: .2rem; */
	}
}

